<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="summary">
        <div class="dbg">
            <div class="dblocks">
                 Covid-19 Global cases Report
                 <div class="data">
                 <div class="dbTitle">Total Confirmed Cases</div>
                 <div class="dbValue">{{globalData.TotalConfirmed}}</div>
                 <div class="dbTitle">Total Recovered Cases</div>
                 <div class="dbValue">{{globalData.TotalRecovered}}</div>
                 <div class="dbTitle">Total Deaths</div>
                 <div class="dbValue">{{globalData.TotalDeaths}}</div>
                </div>
            </div>
        </div>
    </div>

    
</body>
</html>  